<footer>
  <p mt-8 text-xs op-30>
    <!--<span pr-1>Made by</span>-->
    <!--<a-->
    <!--  b-slate-link-->
    <!--  href="https://ddiu.io" target="_blank"-->
    <!--&gt;-->
    <!--  Diu-->
    <!--</a>-->
    <!--<span px-1>|</span>-->
    <!--<a-->
    <!--  b-slate-link-->
    <!--  href="https://github.com/ddiu8081/chatgpt-demo" target="_blank"-->
    <!--&gt;-->
    <!--  Source Code-->
    <!--</a>-->
    <a mt-1 op-60>输出内容无参考价值，仅供 ZhilvAI 内部测试</a>
  </p>
</footer>
